# Иследование данных, отбор признаков

Загрузим наши таблицы с сервера

In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings("ignore")


conn_uri = "postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml"
engine = create_engine('postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml')
connection = engine.raw_connection()

user_df = pd.read_sql("SELECT * FROM public.user_data", con=connection)
post_df = pd.read_sql("SELECT * FROM public.post_text_df", con=connection)
feed_df = pd.read_sql("SELECT * FROM public.feed_data LIMIT 5000000", con=connection)

In [2]:
user_df.head()

   user_id  gender  age country               city  exp_group       os source
0      200       1   34  Russia          Degtyarsk          3  Android    ads
1      201       0   37  Russia             Abakan          0  Android    ads
2      202       1   17  Russia           Smolensk          4  Android    ads
3      203       0   18  Russia             Moscow          1      iOS    ads
4      204       0   36  Russia  Anzhero-Sudzhensk          3  Android    ads

In [3]:
post_df.head()

   post_id                                               text     topic
0        1  UK economy facing major risks\n\nThe UK manufa...  business
1        2  Aids and climate top Davos agenda\n\nClimate c...  business
2        3  Asian quake hits European shares\n\nShares in ...  business
3        4  India power shares jump on debut\n\nShares in ...  business
4        5  Lacroix label bought by US firm\n\nLuxury good...  business

In [4]:
feed_df.head()

            timestamp  user_id  post_id action  target
0 2021-11-03 10:27:37     4829     3213   view       0
1 2021-11-03 10:29:52     4829     2344   view       0
2 2021-11-03 10:30:44     4829     6020   view       1
3 2021-11-03 10:31:31     4829     6020   like       0
4 2021-11-03 10:31:33     4829     3424   view       0

Смерджим все таблицы в одну и поработаем с данными

In [5]:
df = feed_df.merge(user_df, on='user_id', how='right').merge(post_df, on='post_id', how='left')
df.head()

,timestamp,user_id,post_id,action,target,gender,age,country,city,exp_group,os,source,text,topic
0,NaT,200,NaN,NaN,NaN,1,34,Russia,Degtyarsk,3,Android,ads,NaN,NaN
1,NaT,201,NaN,NaN,NaN,0,37,Russia,Abakan,0,Android,ads,NaN,NaN
2,NaT,202,NaN,NaN,NaN,1,17,Russia,Smolensk,4,Android,ads,NaN,NaN
3,NaT,203,NaN,NaN,NaN,0,18,Russia,Moscow,1,iOS,ads,NaN,NaN
4,NaT,204,NaN,NaN,NaN,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads,NaN,NaN

Удалим строчки с действием like, так как у них всегда таргет равен нулю, а потом удалим коллонку action, оставив только таргет

In [6]:
df = df[df['action'] != 'like']
df = df.drop('action', axis=1)
df.head()

,timestamp,user_id,post_id,target,gender,age,country,city,exp_group,os,source,text,topic
0,NaT,200,NaN,NaN,1,34,Russia,Degtyarsk,3,Android,ads,NaN,NaN
1,NaT,201,NaN,NaN,0,37,Russia,Abakan,0,Android,ads,NaN,NaN
2,NaT,202,NaN,NaN,1,17,Russia,Smolensk,4,Android,ads,NaN,NaN
3,NaT,203,NaN,NaN,0,18,Russia,Moscow,1,iOS,ads,NaN,NaN
4,NaT,204,NaN,NaN,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads,NaN,NaN

Теперь поработаем с пропусками:

In [7]:
df['timestamp'] = df['timestamp'].fillna(df['timestamp'].min())

In [8]:
df['post_id'] = df['post_id'].fillna(0)
df['target'] = df['target'].fillna(0)
df['text'] = df['text'].fillna('empty')
df['topic'] = df['topic'].fillna('empty')

In [9]:
df.head()

,timestamp,user_id,post_id,target,gender,age,country,city,exp_group,os,source,text,topic
0,2021-10-01 06:05:25,200,0.0,0.0,1,34,Russia,Degtyarsk,3,Android,ads,empty,empty
1,2021-10-01 06:05:25,201,0.0,0.0,0,37,Russia,Abakan,0,Android,ads,empty,empty
2,2021-10-01 06:05:25,202,0.0,0.0,1,17,Russia,Smolensk,4,Android,ads,empty,empty
3,2021-10-01 06:05:25,203,0.0,0.0,0,18,Russia,Moscow,1,iOS,ads,empty,empty
4,2021-10-01 06:05:25,204,0.0,0.0,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads,empty,empty

In [10]:
'''
for col in ['country', 'city', 'os', 'source', 'topic']:
    if df[col].nunique() < 20:
        ohe = pd.get_dummies(df[col], drop_first=True, dtype=int)
        df = pd.concat((df, ohe), axis=1)
        df = df.drop(col, axis=1)
df.head()
'''

"\nfor col in ['country', 'city', 'os', 'source', 'topic']:\n    if df[col].nunique() < 20:\n        ohe = pd.get_dummies(df[col], drop_first=True, dtype=int)\n        df = pd.concat((df, ohe), axis=1)\n        df = df.drop(col, axis=1)\ndf.head()\n"

Теперь порабатоем с текстом с помощью tf-idf

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf_transform = tfidf.fit_transform(df['text'].unique())

tfidf_df = pd.DataFrame(tfidf_transform.toarray().transpose(), tfidf.get_feature_names_out()).transpose()

In [12]:
tfidf_df = pd.DataFrame(tfidf_df.mean(axis=1))
text_df = pd.DataFrame(df['text'].unique())

In [13]:
text_tfidf = text_df.merge(tfidf_df, left_index=True, right_index=True, how='left')
text_tfidf.columns = ['text', 'tf_idf']
text_tfidf.head()

                                                text    tf_idf
0                                              empty  0.000020
1  Evolution of deaths per confirmed cases by cou...  0.000060
2  #AshishChanchlani asked his fans to be cautiou...  0.000067
3  I felt it necessary to respond to the comments...  0.000254
4  He’s got to be found out soon .... Gates too. ...  0.000087

In [14]:
df = df.merge(text_tfidf, how='left', on='text')

In [15]:
df = df.drop('text', axis=1)
df.head()

,timestamp,user_id,post_id,target,gender,age,country,city,exp_group,os,source,topic,tf_idf
0,2021-10-01 06:05:25,200,0.0,0.0,1,34,Russia,Degtyarsk,3,Android,ads,empty,0.00002
1,2021-10-01 06:05:25,201,0.0,0.0,0,37,Russia,Abakan,0,Android,ads,empty,0.00002
2,2021-10-01 06:05:25,202,0.0,0.0,1,17,Russia,Smolensk,4,Android,ads,empty,0.00002
3,2021-10-01 06:05:25,203,0.0,0.0,0,18,Russia,Moscow,1,iOS,ads,empty,0.00002
4,2021-10-01 06:05:25,204,0.0,0.0,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads,empty,0.00002

Применим MTE для кодировки городов:

In [16]:
mean_target = df.groupby('city')['target'].mean()
df['city'] = df['city'].map(mean_target)
df.head()

,timestamp,user_id,post_id,target,gender,age,country,city,exp_group,os,source,topic,tf_idf
0,2021-10-01 06:05:25,200,0.0,0.0,1,34,Russia,0.146789,3,Android,ads,empty,0.00002
1,2021-10-01 06:05:25,201,0.0,0.0,0,37,Russia,0.141103,0,Android,ads,empty,0.00002
2,2021-10-01 06:05:25,202,0.0,0.0,1,17,Russia,0.146089,4,Android,ads,empty,0.00002
3,2021-10-01 06:05:25,203,0.0,0.0,0,18,Russia,0.150018,1,iOS,ads,empty,0.00002
4,2021-10-01 06:05:25,204,0.0,0.0,0,36,Russia,0.120922,3,Android,ads,empty,0.00002

Посмотрим теперь на матрицу коррелляций и выведем топ-5 самых корреллирующих пар:

In [17]:
df.corr().head()

,user_id,post_id,target,gender,age,city,exp_group,tf_idf
user_id,1.000000,0.014576,0.002566,-0.001206,-0.001409,-0.001821,0.007830,0.020127
post_id,0.014576,1.000000,0.022938,-0.000353,-0.033969,0.008811,-0.000913,-0.000147
target,0.002566,0.022938,1.000000,0.026325,-0.000333,0.135728,-0.008323,0.024734
gender,-0.001206,-0.000353,0.026325,1.000000,-0.004232,0.024968,-0.025025,-0.000671
age,-0.001409,-0.033969,-0.000333,-0.004232,1.000000,-0.006845,-0.011301,0.004657

In [18]:
def get_redundant_pairs(df):
    '''Get diagonal and lower triangular pairs of correlation matrix'''
    pairs_to_drop = set()
    cols = df.columns
    for i in range(0, df.shape[1]):
        for j in range(0, i+1):
            pairs_to_drop.add((cols[i], cols[j]))
    return pairs_to_drop

def get_top_abs_correlations(df, n=5):
    au_corr = df.corr().abs().unstack()
    labels_to_drop = get_redundant_pairs(df)
    au_corr = au_corr.drop(labels=labels_to_drop).sort_values(ascending=False)
    return au_corr[0:n]

print("Top Absolute Correlations")
print(get_top_abs_correlations(df, 5))

Top Absolute Correlations

KeyError: ('source', 'timestamp')

Удалим столбцы с высокой коррелляцией например: covid и Ukraine

In [19]:
'''df = df.drop(['movie', 'organic', 'covid', 'Ukraine'], axis=1)'''

"df = df.drop(['movie', 'organic', 'covid', 'Ukraine'], axis=1)"

In [20]:
df = df.drop(['country', 'os', 'source'], axis=1)

In [21]:
df.head()

,timestamp,user_id,post_id,target,gender,age,city,exp_group,topic,tf_idf
0,2021-10-01 06:05:25,200,0.0,0.0,1,34,0.146789,3,empty,0.00002
1,2021-10-01 06:05:25,201,0.0,0.0,0,37,0.141103,0,empty,0.00002
2,2021-10-01 06:05:25,202,0.0,0.0,1,17,0.146089,4,empty,0.00002
3,2021-10-01 06:05:25,203,0.0,0.0,0,18,0.150018,1,empty,0.00002
4,2021-10-01 06:05:25,204,0.0,0.0,0,36,0.120922,3,empty,0.00002

In [22]:
# ohe = pd.get_dummies(df['topic'], drop_first=True, dtype=int)
# df = pd.concat((df, ohe), axis=1)
# df = df.drop('topic', axis=1)
# df.head()

Переведём коллонку timestamp в секунды:

In [23]:
# import datetime as dt
# df['seconds'] = df.timestamp - df.timestamp.min()
# df['seconds'] = df.seconds.dt.total_seconds()
# df = df.drop('timestamp', axis=1)
# df.head()

Пересортируем наш датафрейм по возрастанию времени

In [24]:
df = df.sort_values(by='timestamp')
df.head()

,timestamp,user_id,post_id,target,gender,age,city,exp_group,topic,tf_idf
0,2021-10-01 06:05:25,200,0.0,0.0,1,34,0.146789,3,empty,0.00002
1173639,2021-10-01 06:05:25,60330,0.0,0.0,0,23,0.066892,0,empty,0.00002
1173638,2021-10-01 06:05:25,60329,0.0,0.0,0,14,0.080628,2,empty,0.00002
1173637,2021-10-01 06:05:25,60328,0.0,0.0,1,18,0.150018,4,empty,0.00002
1173636,2021-10-01 06:05:25,60327,0.0,0.0,0,33,0.081186,4,empty,0.00002

# Обучение рекомендательной модели

Для начала разделим данные на тренировочную и тестовую выборки, так чтобы в тесте были более поздние события

In [ ]:
train = df.iloc[:3000000].copy()
test = df.iloc[3000000:].copy()

X_train = train.drop(['target', 'post_id', 'timestamp'] , axis=1)
X_test = test.drop(['target', 'post_id', 'timestamp'], axis=1)

y_train = train['target']
y_test = test['target']

User-based подход здесь не очень годится, так как он плохо предсказывает таргет для новых пользователей из теста. Тогда воспользуемся контентным подходом

Обучим модель с помощью catboost

In [ ]:
from catboost import CatBoostClassifier

catboost = CatBoostClassifier(cat_features=['topic'])
catboost.fit(X_train, y_train)

Теперь оценим качество нашей модели с помощью ROC-AUC

In [ ]:
from sklearn.metrics import roc_curve, RocCurveDisplay, auc

fpr, tpr, thresholds = roc_curve(y_test, catboost.predict_proba(X_test)[:, 1])

auc(fpr, tpr)

Нарисуем ROC-кривую:

In [ ]:
RocCurveDisplay(fpr=fpr, tpr=tpr).plot()

Теперь сохраним обученную модель:

In [ ]:
catboost.save_model('catboost_model_2',
                           format="cbm")

from_file = CatBoostClassifier(cat_features=['topic'])

from_file.load_model("catboost_model_2")

# Загрузка признаков для обученной модели

In [170]:
data = df[['post_id', 'tf_idf', 'city']].drop_duplicates(subset='post_id')
info_posts = data.merge(post_df, on='post_id', how='left').fillna('empty')
info_posts.head()

,post_id,tf_idf,city,text,topic
0,0.0,0.000020,0.146789,empty,empty
1,5961.0,0.000208,0.150018,About the spoiler warning? Its not may contain...,movie
2,6218.0,0.000167,0.065971,"Beast Wars is a show that is over-hyped, overp...",movie
3,1629.0,0.000248,0.118529,Desailly backs Blues revenge trip\n\nMarcel De...,sport
4,3618.0,0.000079,0.152049,Their complacency is their guilt. You get the ...,covid

In [168]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml')
info_posts.to_sql('rubtsov_dmitry_lesson_22_info_post_2', con=engine, if_exists='append', chunksize=25000) # записываем таблицу

832

In [156]:
liked_posts = feed_df[feed_df['target'] == 1][['user_id', 'post_id', 'timestamp']]

In [169]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml')
liked_posts.to_sql('rubtsov_dmitry_lesson_22_liked_posts', con=engine, if_exists='append', chunksize=25000)

21667